__pycache__/
*.py[cod]
*.so
.ipynb_checkpoints/
.venv/
.env

models/
dataset/
checkpoints/*.pth
checkpoints/*.pt
checkpoints/*.bin
checkpoints/*.safetensors

output/
output_*/
logs/
*.out
*.err
*.log

*.pth
*.pt
*.bin
*.safetensors
*.npz
*.npy
*.zip
*.tar
*.tar.gz

wandb/
runs/
